@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

h2 {
  font-family: "Dancing Script";
  font-weight: 700;
}

p {
  font-family: 'Times New Roman', Times, serif;
  width: 80%;
  margin: 0 auto;
}

body {
  background-color: #fff7e8;
}

img {
  box-shadow: 0.5em 0.5em 0.5em #686868;
}